<h1 class="center">{{ title }}</h1>
<div class="jumbotron jumbotron-fluid pl-30">
  <div class="container-fluid pl-30">
    <!-- Input search section-->

    <section>
      <div class="input-group col col-lg-10 mb-3">
        <input type="text" class="form-control custom-input-box"
        placeholder="search by Username / Email..."  [(ngModel)]="search" />
        <div class="input-group-append">
          <button type="button" class="btn btn-primary btn-lg" id="basic-addon2">Search</button>
        </div>
      </div>
    </section><hr>
    <!-- Display Data inside cards-->

    <div class="custom-control custom-switch">
     <h2>Display Mode : <label class="pr-30">L</label>
      <input type="checkbox" (change)="onGridView($event)"
      class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label pl-30" for="customSwitch1">Grid</label></h2>
    </div>
    <div class="row" >
      <div class="card bg-light" [ngClass]="(gridView)?'col col-lg-3':'row'"
       *ngFor="let element of elements?.data | searchPipe:'name':search">
       <div [ngClass]="(gridView)?'':'col col-lg-3'">
         <img [src]="element.avatar" class="card-img-top" [ngClass]="(gridView)?'':'img-position'"
         alt="avatar">
       </div>
        <div [ngClass]="(gridView)?'':'col-lg-6'">
        <div class="card-body">
          <h5 class="card-title">
            <span class="badge badge-pill badge-primary pull-right">{{element.id}}</span></h5>
          <p class="card-text">{{elements?.ad['text']}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{element.first_name}}</li>
          <li class="list-group-item">{{element.last_name}}</li>
          <li class="list-group-item">{{element.email}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">{{elements?.ad['company']}}</a>
          <a href="#" class="card-link">{{elements?.ad['url']}}</a>
        </div>
      </div>
    </div>
    </div>

    <!-- ngb-pagination server side pagination -->
    <nav *ngIf="elements" aria-label="Page navigation">
      <ul class="pagination justify-content-center" (click)="pageChanged(page)">
        <li class="page">
          <ngb-pagination [collectionSize]="total"
          (pageChanged)="pageChanged($event)" [maxSize]="pageSize"
          [(page)]="page" [boundaryLinks]="true" aria-label="Default pagination"></ngb-pagination>
        </li>
      </ul>
    </nav>
  </div>
</div>
